* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
        sans-serif;
}

:root {
    --dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --light-gray: hsl(0, 0%, 98%);


    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--light-gray);
    color: var(--dark-blue);
    padding: 50px 0px;
}

.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-md-4 {
    width: 31%;
    margin: 1%;

}

.center {
    text-align: center;
    width: 50%;
    margin: auto;
}

.title {
    font-weight: 200;
    color: var(--dark-blue);
}

.title-bold {
    font-weight: 600;
    color: var(--dark-blue);
}

.desc {
    font-size: 15px;
    color: var(--grayish-blue);
}

.cards {
    padding: 30px 0px;
}

.card {
    background: #fff;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 1px 9px 10px #ddd;
    border-radius: 10px;
}

.card-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.card-des {
    font-size: 12px;
    color: var(--grayish-blue);
    margin-bottom: 20px;
}

.card-img {
    display: flex;
    justify-content: end;
}

.mt {
    margin-top: 13%;
}

.cards .cyan {
    border-top: 5px solid var(--cyan);
}

.cards .red {
    border-top: 5px solid var(--red);
}

.cards .orange {
    border-top: 5px solid var(--orange);
}

.cards .blue {
    border-top: 5px solid var(--blue);
}

@media(max-width:900px) {
    .mt {
        margin-top: 15px;
    }

    .col-md-4 {
        width: initial;
    }

    .col-ms-12 {
        width: 100%;
    }

    .center {
        text-align: center;
        width: 100%;
        margin: auto;
    }
}